<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <base href="/admin/">
    <link rel="stylesheet" href="../admin/res/css/amazeui.min.css">
    <link rel="stylesheet" href="../admin/res/css/admin.css">
</head>
</div>
<!-- content end -->
</div>
</div>
<body>

<div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品管理</strong><small></small></div>
    </div>

    <hr>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">

                    <button type="button" class="am-btn am-btn-default btnAdd">
                        <span class="icon-plus"></span> 新增
                    </button>

                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-3">
            <div class="am-input-group am-input-group-sm">
                <input id="roleName" class="am-form-field" placeholder="请输入商品名称" type="text">
                <span class="am-input-group-btn">
									<button class="am-btn am-btn-default" type="button" id="btnsearch">
										搜索
									</button> </span>
            </div>
        </div>
    </div>

    <div class="am-g" style="margin-top: 5px;">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main" id="tableInfos">
                    <thead>
                    <tr>
                        <th class="table-id">
                            <input id="chkAll" type="checkbox">
                        </th>

                        <th class="table-title">
                            商品名称
                        </th>
                        <th class="table-title">
                            商品单价
                        </th>
                        <th class="table-title">
                            商品库存
                        </th>
                        <th class="table-set">
                            是否上架
                        </th>
                    </tr>
                    </thead>
                    <tbody id="tCommodity">
                    <tr th:each="commodity: ${session.commodityPage.getRecords()}">
                        <td><input name="chks" th:attr="value=${commodity.getId()}" type="checkbox"></td>
                        <td>
                            <a th:text="${commodity.getCommodityName()}"></a>
                        </td>
                        <td th:text="${commodity.getCommodityPrice()}">1.3</td>
                        <td th:text="${commodity.getCommodityRepertory()}">99</td>
                        <td th:text="${commodity.getUpordown()}==1?'是':'否'">是</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" id="role_701"
                                            class="am-btn am-btn-default am-btn-xs am-text-secondary btnedit"><span
                                            class="am-icon-pencil-square-o"></span> 编辑
                                    </button>
                                    <button type="button" onclick="sharesysfun([[${commodity.getId()}]]);"
                                            class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span
                                            class="am-icon-copy"></span> 上架
                                    </button>
                                    <button type="button"
                                            class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                            onclick="delUser(701,1)"><span class="am-icon-trash-o"></span> 删除
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="am-cf" id="count">
                    共 [[${session.commodityPage.getTotal()}]] 条记录
                    <div class="am-fr">
                        <ul class="am-pagination" >
                            <li>
                                <a  th:onclick="toCommodity([[${session.commodityPage.getCurrent()}]]-1,5)">«</a>
                            </li>
                            <li class="am-active">
                            </li>
                            <li>
                                <a>[[${session.commodityPage.getCurrent()}]]</a>
                            </li>
                            <li>
                                <a th:if="${session.commodityPage.getCurrent()}<=${session.commodityPage.getPages()} == true" th:onclick="toCommodity([[${session.commodityPage.getCurrent()}]]+1,5)">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="js/jquery-1.11.3.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="myplugs/js/plugs.js"></script>
<script type="text/javascript" th:inline="JavaScript">
    $(function () {
        $(".btnedit").click(function () {

            $.jq_Panel({
                title: "修改角色",
                iframeWidth: 500,
                iframeHeight: 300,
                url: "editRole.html"
            });
        });

        $(".btnAdd").click(function () {

            $.jq_Panel({
                title: "添加商品",
                iframeWidth: 500,
                iframeHeight: 300,
                url: "editCommodity.html"
            });

        });
    });

    function toCommodity(currentPage,pageSize) {
        $.ajax({
            url: "/commodity/selectALLCommodityUsePage?currentPage="+currentPage+"&pageSize="+pageSize,
            type: 'get',
            success: function () {
                location.reload();
            }
        });
    }
</script>

</body>

</html>